{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  

  <title>Deportes ROPF {% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logoDPR.png' %}" rel="icon">
  <link href="{% static 'assets/img/logoDPR.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
      <a href="/" class="logo me-auto me-lg-0">
        <img src="static/images/logoDPR.png" id="logopagina" alt="Logo de la página" class="img-fluid">
      </a>
      <h1  class="logo me-auto me-lg-0"><a >Deportes ROPF<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <ul> <!--lista de enlace de navegación-->
            <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
            <li><a class="nav-link scrollto" href="#about">¿Quienes somos?</a></li>
            <li><a class="nav-link scrollto" href="{% url 'all_plans' %}">Planes</a></li>
            
            <!--Condicional de Django para verificar si el usuario está autenticado-->
            {% if request.user.is_authenticated %}
            <li><a class="nav-link scrollto" href="{% url 'profile' %}">Ver Perfil</a></li>
            <li><a class="nav-link scrollto" href="/logout">Cerrar sesión</a></li>
            {% else %}
            <li><a class="nav-link scrollto" href="/signup">Registrarse</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- fin de la navegación -->
       
        <a class="get-started-btn scrollto" href="/login">Iniciar Sesión</a>
        {% endif %}

    </div>
  </header><!-- End Header -->

  <!-- ======= #hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
  {% block head %}

  {% endblock head %}

            </div>
        </div>
    </div>
  </section>

  <main id="main">  
    {% block body %} 

    {% endblock body %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Deportes ROPF<span></span></h3>
              <p>
                La Higuera #1045 <br>
                Santiago de Chile, Isla de Maipo<br><br>
                <strong>Phone:</strong> +56 9 7199 4790<br>
                <strong>Email:</strong> Rodrigo Arriaza@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.youtube.com/@rodrigoarriaza5139" class="youtube"><i class="bx bxl-youtube"></i></a>
                <a href="https://instagram.com/deporte.ropf?igshid=YTQwZjQ0NmI0OA==" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/deporte.ropf?igshid=YTQwZjQ0NmI0OA==" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links de Ayuda</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">¿Quiénes Somos?</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Galeria</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politicas privadas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Ignacio Orellana</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Diseñado por <a href="#">IO</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <!--<div id="preloader"></div>-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>


