{% extends 'base.html' %}
{% block title %}
Perfil
{% endblock title %}
{% block head %}
<h1>Bienvenido a tu perfil</h1>

<div class="container mt-2">
    <div class="row">
    <div class="col-md-4"></div>

    <ul class="list-group">
        <li class="list-group-item bg-dark text-white"><h2>Nombre: {{ cliente.nombre }} {{ cliente.apellido }}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Teléfono: {{ cliente.telefono }}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Email: {{ cliente.email }}</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Estatura: {{ cliente.estatura }} m</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Peso: {{ cliente.peso }} kg</h2></li>
        <li class="list-group-item bg-dark text-white"><h2>Plan Actual: {{ cliente.plan_actual }} </h2></li>
        <!-- Si tienes más información que quieras mostrar, sigue este patrón -->
    </ul>

</div>

<div>
    
</div>
{% endblock head %}