{% extends 'base.html' %}
{% block title %}
Perfil
{% endblock title %}
{% block head %}
<div class="container mt-5">
    <div class="row">
        <!-- Columna de perfil a la izquierda -->
        <div class="col-md-7">
            <div class="perfil-card">
                <div class="card-header bg-dark text-white">
                    <h2>Bienvenido a tu perfil</h2>
                </div>
                <div class="card-body bg-light">
                    <p class="custom-card-text">Nombre: {{ cliente.nombre }} {{ cliente.apellido }}</p>
                    <p class="custom-card-text">Teléfono: {{ cliente.telefono }}</p>
                    <p class="custom-card-text">Email: {{ cliente.email }}</p>
                    <p class="custom-card-text">Estatura: {{ cliente.estatura }} m</p>
                    <p class="custom-card-text">Peso: {{ cliente.peso }} kg</p>
                    <p class="custom-card-text">Plan Actual: {{ cliente.plan_actual }}</p>
                    <!-- Si tienes más información que quieras mostrar, sigue este patrón -->
                </div>
            </div>
        </div>

        <!-- Columna de acordeón a la derecha -->
        {% if cliente.plan_actual %}
        <div class="col-md-5">
            <div class="acordion-card">
                <div class="details">
                    <details>
                        <summary>Obten acceso a tu Informe aquí</summary>
                        <div>
                            <a href="{{ cliente.plan_actual.informe_url }}" download>Descargar Informe</a>
                        </div>
                    </details>
                    <details>
                        <summary>Obten acceso a tus videos aquí</summary>
                        <div>
                            {% for video_url in cliente.plan_actual.get_videos_urls %}
                                <a href="{{ video_url }}" target="_blank">Ver Vídeo</a><br>
                            {% endfor %}
                        </div>
                    </details>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock head %}